In [ ]:
#population_subzones
#author: pawpaw
#information included in the source date: planning_area,subzone,age_group,sex,type_of_dwelling,resident_count,year
# year=2019, resident number
import os 
import csv 
import pandas as pd 
from pandas.core import groupby

In [7]:
path = '/Users/paw_paw/Library/CloudStorage/GoogleDrive-keyuqing597@gmail.com/我的云端硬盘/PC5287_M.SC Coursework Thesis for Physics And Technology/data set'
residents = path+'/singapore-residents-by-subzone-and-type-of-dwelling-2011-2019/planning-area-subzone-age-group-sex-and-type-of-dwelling-june-2011-2019.csv'
df_res = pd.read_csv(residents)
df_res

,planning_area,subzone,age_group,sex,type_of_dwelling,resident_count,year
0,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 1- and 2-Room Flats,0,2011
1,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 3-Room Flats,10,2011
2,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 4-Room Flats,30,2011
3,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 5-Room and Executive Flats,50,2011
4,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HUDC Flats (excluding those privatised),0,2011
...,...,...,...,...,...,...,...
883723,Yishun,Yishun West,90_and_over,Females,HDB 5-Room and Executive Flats,20,2019
883724,Yishun,Yishun West,90_and_over,Females,HUDC Flats (excluding those privatised),0,2019
883725,Yishun,Yishun West,90_and_over,Females,Landed Properties,0,2019
883726,Yishun,Yishun West,90_and_over,Females,Condominiums and Other Apartments,10,2019
883727,Yishun,Yishun West,90_and_over,Females,Others,40,2019

In [8]:
df_res = df_res[df_res['year'].isin([2019])]
# select the data of 2019
df_res

,planning_area,subzone,age_group,sex,type_of_dwelling,resident_count,year
785536,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 1- and 2-Room Flats,0,2019
785537,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 3-Room Flats,10,2019
785538,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 4-Room Flats,10,2019
785539,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HDB 5-Room and Executive Flats,20,2019
785540,Ang Mo Kio,Ang Mo Kio Town Centre,0_to_4,Males,HUDC Flats (excluding those privatised),0,2019
...,...,...,...,...,...,...,...
883723,Yishun,Yishun West,90_and_over,Females,HDB 5-Room and Executive Flats,20,2019
883724,Yishun,Yishun West,90_and_over,Females,HUDC Flats (excluding those privatised),0,2019
883725,Yishun,Yishun West,90_and_over,Females,Landed Properties,0,2019
883726,Yishun,Yishun West,90_and_over,Females,Condominiums and Other Apartments,10,2019
883727,Yishun,Yishun West,90_and_over,Females,Others,40,2019

In [16]:
res_sub = df_res.groupby(["subzone"]).sum(numeric_only=True)["resident_count"].reset_index()
res_sub

             subzone  resident_count
0          Admiralty           14110
1       Airport Road               0
2     Alexandra Hill           13780
3    Alexandra North            2120
4           Aljunied           40190
..               ...             ...
318     Yishun South           42060
319      Yishun West           54860
320       Yuhua East           24900
321       Yuhua West           19460
322           Yunnan           68200

[323 rows x 2 columns]

In [11]:
residents_by_subzone = path+'/singapore_residents_by_subzone2019.csv'
res_sub.to_csv(residents_by_subzone)

In [13]:
res_pa = df_res.groupby(["planning_area"]).sum(numeric_only=True)["resident_count"].reset_index()
res_pa

              planning_area  resident_count
0                Ang Mo Kio          164430
1                     Bedok          279970
2                    Bishan           88230
3                  Boon Lay               0
4               Bukit Batok          154140
5               Bukit Merah          152600
6             Bukit Panjang          139700
7               Bukit Timah           77720
8   Central Water Catchment               0
9                    Changi            1790
10               Changi Bay               0
11            Choa Chu Kang          191100
12                 Clementi           92910
13            Downtown Core            2500
14                  Geylang          110520
15                  Hougang          227110
16              Jurong East           79230
17              Jurong West          265010
18                  Kallang          101940
19             Lim Chu Kang              70
20                   Mandai            2060
21              Marina East               0
22             Marina South               0
23            Marine Parade           46450
24                   Museum             430
25                   Newton            8000
26    North-Eastern Islands               0
27                   Novena           49390
28                  Orchard             900
29                   Outram           19050
30                Pasir Ris          148210
31               Paya Lebar               0
32                  Pioneer               0
33                  Punggol          170920
34               Queenstown           96470
35             River Valley           10180
36                   Rochor           12860
37                  Seletar             260
38                Sembawang           96070
39                 Sengkang          244910
40                Serangoon          116490
41                  Simpang               0
42          Singapore River            2940
43         Southern Islands            1880
44             Straits View               0
45             Sungei Kadut             700
46                 Tampines          257020
47                  Tanglin           21710
48                   Tengah               0
49                Toa Payoh          121060
50                     Tuas               0
51          Western Islands               0
52  Western Water Catchment             680
53                Woodlands          255000
54                   Yishun          220810

In [15]:
residents_by_pa = path+'/singapore_residents_by_pa2019.csv'
res_pa.to_csv(residents_by_pa)